extends layout.pug

block content
  .w3-sidebar
  .w3-bar-block
    block sidebar
      #sidebar
        a(href="http://localhost:3000/person/all") Find all registered persons here
        br
        a(href="http://localhost:3000/appartment/all") Find all appartments here
        br 
  .primary
    block primary
      #body